/* Wyświetlanie */

.dp-none{
    display: none !important;
}
.dp-block{
    display: block;
}
.dp-inline-block{
    display: inline-block;
}
.dp-flex{
    display: flex;
}
.dp-grid{
    display: grid;
}

/* -------------------------------------------------------------------------- */