/* Pozycje */

.pos-rel{
    position: relative;
}
.pos-abs{
    position: absolute;
}
.pos-fix{
    position: fixed;
}

/* -------------------------------------------------------------------------- */