section.hero{
    height: 100vh;
    overflow: hidden;

    >div{
        img{
            max-width: 400px
        }
        z-index: 3;
        >h1{
            font-size: 4rem !important;
        }
    }
    @media all and (max-width:700px){
       &{
            >div{
                >img{
                    width: 70%;
                } 
                >h1{
                    font-size: 3rem !important;
                    text-align: left;
                }
                h4{
                    text-align: left;
                }
            }

       }
    }
}