@use '../variables' as *;

.realisation{
    .realisation-prev, .realisation-next{
        border: 1px solid $black10;
        padding: 23px 26px 21px 26px;
        border-radius: 24px;
        cursor: pointer;
        background-color: $white;
        box-shadow: 0 0 8px 4px $black5;
        transition: all .1s ease-in-out;
        &:hover{
            background-color: $black;
        }
    }
}