@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* Wielkości czcionek */
html {
  font-size: 16px;
}
@media (max-width: 960px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 18.5px;
  }
}
@media (min-width: 1800px) {
  html {
    font-size: 21px;
  }
}

/* Typografia właściwa  */
h1, h2, h3, h4, h5 {
  color: #343A40;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

.h-semi {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.h-reg {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.h-decor {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

p {
  font-family: "Open Sans", sans-serif;
  color: rgba(52, 58, 64, 0.7490196078);
  font-size: 1rem;
  line-height: 2rem;
  text-align: left;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

/* Wielkość czcionek */
.font-size-sm {
  font-size: 0.75rem;
}

.font-size-md {
  font-size: 1.25rem;
}

.font-size-lg {
  font-size: 1.5rem;
}

.font-size-xl {
  font-size: 2rem;
}

.font-size-xxl {
  font-size: 3rem;
}

/* ---------------------- */
/* Położenie czcionki */
.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-justify {
  text-align: justify;
}

/* -------------------------------------------------------------------------- */
/* Kolory czcionek */
.font-white {
  color: #F8F9FA;
}

.font-black {
  color: #343A40;
}

.font-primary {
  color: #32B7DC;
}

.font-secondary {
  color: #6BD5E3;
}

.font-third {
  color: #F8F9FA;
}

.font-fourth {
  color: #fff;
}

.error {
  color: #DC3545;
}

.confirm {
  color: #28A745;
}

.font-notification {
  color: #3C8FDD;
}

.font-gray {
  color: #CFCFCF;
}

/* -------------------------------------------------------------------------- */
/* Rodzaje czcionek */
.font-header {
  font-family: "Montserrat", sans-serif;
}

/* -------------------------------------------------------------------------- */
/* Efekty i dekoracje */
.txt-underline {
  text-decoration: underline;
}

/* -------------------------------------------------------------------------- */
/* Skracanei wersów  */
.cut-text-to-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
}

.cut-text-to-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}

.cut-text-to-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
}

.cut-text-to-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
  text-overflow: ellipsis;
}

.cut-text-to-5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 5;
  text-overflow: ellipsis;
}

/* -------------------------------------------------------------------------- */
/* Marginesy */
/* Lewy & Prawy */
.lr-margin-128 {
  margin: 0 128px;
}

.lr-margin-64 {
  margin: 0 64px;
}

.lr-margin-48 {
  margin: 0 48px;
}

.lr-margin-32 {
  margin: 0 32px;
}

.lr-margin-16 {
  margin: 0 16px;
}

.lr-margin-8 {
  margin: 0 8px;
}

/* ------------------------------------------- */
/* Górny & Dolny */
.tb-margin-128 {
  margin: 128px 0;
}

.tb-margin-64 {
  margin: 64px 0;
}

.tb-margin-48 {
  margin: 48px 0;
}

.tb-margin-32 {
  margin: 32px 0;
}

.tb-margin-16 {
  margin: 16px 0;
}

.tb-margin-8 {
  margin: 8px 0;
}

/* ------------------------------------------- */
/* Ogólny */
.margin-128 {
  margin: 128px;
}

.margin-64 {
  margin: 64px;
}

.margin-48 {
  margin: 48px;
}

.margin-32 {
  margin: 32px;
}

.margin-16 {
  margin: 16px;
}

.margin-8 {
  margin: 8px;
}

/* ------------------------------------------- */
/* Lewy */
.margin-left-128 {
  margin-left: 128px;
}

.padding-left-0 {
  margin-left: 0 !important;
}

/* ------------------------------------------- */
/* Prawy */
.margin-right-128 {
  margin-right: 128px;
}

.margin-right-0 {
  margin-right: 0 !important;
}

/* ------------------------------------------- */
/* Górny */
.margin-top-0 {
  margin-top: 0 !important;
}

/* ------------------------------------------- */
/* Dolny */
.margin-bottom-0 {
  margin-bottom: 0 !important;
}

/* ------------------------------------------- */
/* Padding */
/* Responsywny padding strony */
.gen-padding {
  padding: 64px 128px;
}

/* Padding strony na tabletach */
@media all and (max-width: 900px) {
  .gen-padding {
    padding: 64px 32px;
  }
}
/* Padding strony na telefonach */
@media all and (max-width: 640px) {
  .gen-padding {
    padding: 48px 8px;
  }
}
/* ------------------------------------------- */
/* Lewy & Prawy */
.lr-padding-128 {
  padding: 0 128px;
}

.lr-padding-64 {
  padding: 0 64px;
}

.lr-padding-48 {
  padding: 0 48px;
}

.lr-padding-32 {
  padding: 0 32px;
}

.lr-padding-16 {
  padding: 0 16px;
}

.lr-padding-8 {
  padding: 0 8px;
}

/* ------------------------------------------- */
/* Górny & Dolny */
.tb-padding-128 {
  padding: 128px 0;
}

.tb-padding-64 {
  padding: 64px 0;
}

.tb-padding-48 {
  padding: 48px 0;
}

.tb-padding-32 {
  padding: 32px 0;
}

.tb-padding-16 {
  padding: 16px 0;
}

.tb-padding-8 {
  padding: 8px 0;
}

/* ------------------------------------------- */
/* Ogólne */
.padding-256 {
  padding: 256px;
}

.padding-128 {
  padding: 128px;
}

.padding-64 {
  padding: 64px;
}

.padding-48 {
  padding: 48px;
}

.padding-32 {
  padding: 32px;
}

.padding-16 {
  padding: 16px;
}

.padding-8 {
  padding: 8px;
}

/* ------------------------------------------- */
/* Lewy */
.padding-left-128 {
  padding-left: 128px;
}

.padding-left-0 {
  padding-left: 0 !important;
}

/* ------------------------------------------- */
/* Prawy */
.padding-right-128 {
  padding-right: 128px;
}

.padding-right-0 {
  padding-right: 0 !important;
}

/* ------------------------------------------- */
/* Górny */
.padding-top-0 {
  padding-top: 0 !important;
}

/* ------------------------------------------- */
/* Dolny */
.padding-bottom-0 {
  padding-bottom: 0 !important;
}

/* -------------------------------------------------------------------------- */
/* Szerokości */
.width-100 {
  width: 100%;
}

.width-90 {
  width: 90%;
}

.width-80 {
  width: 80%;
}

.width-70 {
  width: 70%;
}

.width-60 {
  width: 60%;
}

.width-50 {
  width: 50%;
}

.width-40 {
  width: 40%;
}

.width-30 {
  width: 30%;
}

.width-20 {
  width: 20%;
}

.width-10 {
  width: 10%;
}

.width-fit {
  width: fit-content;
}

.width-max {
  width: max-content;
}

.width-min {
  width: min-content;
}

/* -------------------------------------------------------------------------- */
/* Wysokości */
.height-100 {
  height: 100%;
}

.height-50 {
  height: 50%;
}

.height-fit {
  height: fit-content;
}

.height-max {
  height: max-content;
}

.height-min {
  height: min-content;
}

/* ------------- */
/* Tło */
.bg-primary {
  background-color: #32B7DC;
}

.bg-secondary {
  background-color: #6BD5E3;
}

.bg-third {
  background-color: #F8F9FA;
}

.bg-fourth {
  background-color: #fff;
}

.bg-transparent {
  background: transparent;
}

.bg-primary-gradient {
  background-image: linear-gradient(to right, #32B7DC, #6BD5E3);
}

.bg-secondary-gradient {
  background-image: linear-gradient(to right, #F8F9FA, #fff);
}

.bg-white {
  background-color: #F8F9FA;
}

.bg-black {
  background-color: #343A40;
}

.bg-black75 {
  background-color: rgba(52, 58, 64, 0.7490196078);
}

.bg-black50 {
  background-color: rgba(52, 58, 64, 0.5019607843);
}

.bg-black25 {
  background-color: rgba(52, 58, 64, 0.2509803922);
}

.bg-black10 {
  background-color: rgba(52, 58, 64, 0.1019607843);
}

.bg-black5 {
  background-color: rgba(52, 58, 64, 0.0509803922);
}

.bg-true-black {
  background-color: #000;
}

.bg-gray {
  background-color: #CFCFCF;
}

.bg-white75 {
  background-color: rgba(248, 249, 250, 0.7490196078);
}

.bg-white50 {
  background-color: rgba(248, 249, 250, 0.5019607843);
}

.bg-white25 {
  background-color: rgba(248, 249, 250, 0.2509803922);
}

.bg-white10 {
  background-color: rgba(248, 249, 250, 0.1019607843);
}

.bg-white5 {
  background-color: rgba(248, 249, 250, 0.0509803922);
}

/* -------------------------------------------------------------------------- */
/* Wyświetlanie */
.dp-none {
  display: none !important;
}

.dp-block {
  display: block;
}

.dp-inline-block {
  display: inline-block;
}

.dp-flex {
  display: flex;
}

.dp-grid {
  display: grid;
}

/* -------------------------------------------------------------------------- */
/* Pozycje */
.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.pos-fix {
  position: fixed;
}

/* -------------------------------------------------------------------------- */
/* Obramówki */
.primary-border {
  border: 1px solid #32B7DC;
}

.secondary-border {
  border: 1px solid #6BD5E3;
}

.transparent-border {
  border: 1px solid transparent;
}

.black-border {
  border: 1px solid #343A40;
}

.black-border-2 {
  border: 2px solid #343A40;
}

.black-border-3 {
  border: 3px solid #343A40;
}

.black50-border {
  border: 1px solid rgba(52, 58, 64, 0.5019607843);
}

.white50-border {
  border: 1px solid rgba(248, 249, 250, 0.5019607843);
}

/* ----------- */
/* Zaokrąglenie obramówek */
.border-rds-8 {
  border-radius: 8px;
}

.border-rds-16 {
  border-radius: 16px;
}

.border-rds-32 {
  border-radius: 32px;
}

.border-rds-64 {
  border-radius: 64px;
}

.border-rds-max {
  border-radius: 50%;
}

/* ------------------------ */
/* Efekty */
.paralax {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
  will-change: transform;
}

.glassmorphism {
  background: rgba(248, 249, 250, 0.5019607843);
  backdrop-filter: blur(10px);
}

/* -------------------------------------------------------------------------- */
/* Cienie */
.pure-shadow {
  box-shadow: 0 0 16px 8px rgba(52, 58, 64, 0.0509803922);
}

/* -------------------------------------------------------------------------- */
/* Scrollbar */
body::-webkit-scrollbar {
  width: 15px;
  background-color: rgba(52, 58, 64, 0.1019607843);
}

body::-webkit-scrollbar-thumb {
  background-color: #fff; /* Kolor suwaka */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #fff; /* Kolor suwaka po najechaniu */
}

/* -------------------------------------------------------------------------- */
/* Linie */
div.line-128-prime, div.line-128-sec, div.line-128-custom {
  width: 128px;
  height: 2px;
}

div.line-512-prime, div.line-512-sec, div.line-512-custom {
  width: 512px;
  height: 2px;
}

div.line-max-prime, div.line-max-sec, div.line-max-custom {
  width: 100%;
  height: 2px;
}

div.line-128-prime, div.line-512-prime, div.line-max-prime {
  background-color: #32B7DC;
}

div.line-128-sec, div.line-512-sec, div.line-max-sec {
  background-color: #6BD5E3;
}

@media all and (max-width: 513px) {
  div.line-512-prime, div.line-512-sec, div.line-max-prime, div.line-max-sec, div.line-512-custom, div.line-max-custom {
    width: 128px;
  }
}
/* -------------------------------------------------------------------------- */
/* Guziki */
.primary-button {
  background-image: linear-gradient(to right, #32B7DC, #6BD5E3);
  border: none;
  color: #343A40;
  box-shadow: 8px 8px 16px rgba(52, 58, 64, 0.2509803922);
  padding: 18px 24px;
  font-style: "Montserrat", sans-serif;
  font-weight: bold;
  border-radius: 16px;
  font-size: 1rem;
  line-height: 1.1rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.primary-button:hover {
  background-image: linear-gradient(to right, #32B7DC, #9FD5DD);
}
.primary-button:active {
  background-image: linear-gradient(to right, #6F959F, #95B4B9);
}
.primary-button:disabled {
  background-image: none;
  background-color: #CFCFCF;
}

.secondary-button {
  background-image: #F8F9FA;
  border: 2px solid #343A40;
  color: #343A40;
  box-shadow: 8px 8px 16px rgba(52, 58, 64, 0.2509803922);
  padding: 16px 24px;
  font-style: "Montserrat", sans-serif;
  font-weight: bold;
  border-radius: 16px;
  font-size: 1rem;
  line-height: 1.1rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.secondary-button:hover {
  background-color: #343A40;
  border: 2px solid #343A40;
  color: #F8F9FA;
}
.secondary-button:active {
  background-color: rgba(52, 58, 64, 0.5019607843);
  border: 2px solid rgba(52, 58, 64, 0.5019607843);
}
.secondary-button:disabled {
  background-image: none;
  background-color: #F8F9FA;
  border: 2px solid #CFCFCF;
}

/* ------------------ */
/* Kontenery główne */
.container-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.container-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* ----------------- */
/* Flex */
.jus-con-btwn {
  justify-content: space-between !important;
}

.jus-con-arnd {
  justify-content: space-around;
}

.jus-con-evn {
  justify-content: space-evenly;
}

.jus-con-start {
  justify-content: flex-start;
}

.jus-con-end {
  justify-content: flex-end;
}

.jus-con-center {
  justify-content: center;
}

/* ----------- */
.al-items-start {
  align-items: flex-start;
}

.al-items-end {
  align-items: flex-end;
}

.al-items-center {
  align-items: center;
}

.al-items-stretch {
  align-items: stretch;
}

/* ----------- */
.al-self-start {
  align-self: flex-start;
}

.al-self-end {
  align-self: flex-end;
}

.al-self-center {
  align-self: center;
}

/* ----------- */
.wrap {
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}

/* ---------- */
/* Gaps */
.gap-0 {
  gap: 0px;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.gap-32 {
  gap: 32px;
}

.gap-48 {
  gap: 48px;
}

.gap-64 {
  gap: 64px;
}

.gap-96 {
  gap: 96px;
}

.gap-128 {
  gap: 128px;
}

/* ---------- */
/* Flex Content */
/* Extra small */
.flex-con-xs-0 > div {
  flex: 1 1 25% !important;
}
@media (max-width: 960px) {
  .flex-con-xs-0 > div {
    flex: 1 1 50% !important;
  }
}
@media (max-width: 720px) {
  .flex-con-xs-0 > div {
    flex: 1 1 100% !important;
  }
}

.flex-con-xs-8 > div {
  flex: 1 1 calc(25% - 8px) !important;
}
@media (max-width: 960px) {
  .flex-con-xs-8 > div {
    flex: 1 1 calc(50% - 8px) !important;
  }
}
@media (max-width: 720px) {
  .flex-con-xs-8 > div {
    flex: 1 1 calc(100% - 8px) !important;
  }
}

.flex-con-xs-16 > div {
  flex: 1 1 calc(25% - 16px) !important;
}
@media (max-width: 960px) {
  .flex-con-xs-16 > div {
    flex: 1 1 calc(50% - 16px) !important;
  }
}
@media (max-width: 720px) {
  .flex-con-xs-16 > div {
    flex: 1 1 calc(100% - 16px) !important;
  }
}

.flex-con-xs-24 > div {
  flex: 1 1 calc(25% - 24px) !important;
}
@media (max-width: 960px) {
  .flex-con-xs-24 > div {
    flex: 1 1 calc(50% - 24px) !important;
  }
}
@media (max-width: 720px) {
  .flex-con-xs-24 > div {
    flex: 1 1 calc(100% - 24px) !important;
  }
}

.flex-con-xs-32 > div {
  flex: 1 1 calc(25% - 32px) !important;
}
@media (max-width: 960px) {
  .flex-con-xs-32 > div {
    flex: 1 1 calc(50% - 32px) !important;
  }
}
@media (max-width: 720px) {
  .flex-con-xs-32 > div {
    flex: 1 1 calc(100% - 32px) !important;
  }
}

.flex-con-xs-64 > div {
  flex: 1 1 calc(25% - 64px) !important;
}
@media (max-width: 960px) {
  .flex-con-xs-64 > div {
    flex: 1 1 calc(50% - 64px) !important;
  }
}
@media (max-width: 720px) {
  .flex-con-xs-64 > div {
    flex: 1 1 calc(100% - 64px) !important;
  }
}

/* Small */
.flex-con-sm-0 > div {
  flex: 1 1 calc(33% - 0px) !important;
}
@media (max-width: 960px) {
  .flex-con-sm-0 > div {
    flex: 1 1 calc(50% - 0px) !important;
  }
}
@media (max-width: 720px) {
  .flex-con-sm-0 > div {
    flex: 1 1 calc(100% - 0px) !important;
  }
}

.flex-con-sm-8 > div {
  flex: 1 1 calc(33% - 8px) !important;
}
@media (max-width: 960px) {
  .flex-con-sm-8 > div {
    flex: 1 1 calc(50% - 8px) !important;
  }
}
@media (max-width: 720px) {
  .flex-con-sm-8 > div {
    flex: 1 1 calc(100% - 8px) !important;
  }
}

.flex-con-sm-16 > div {
  flex: 1 1 calc(33% - 16px) !important;
}
@media (max-width: 960px) {
  .flex-con-sm-16 > div {
    flex: 1 1 calc(50% - 16px) !important;
  }
}
@media (max-width: 720px) {
  .flex-con-sm-16 > div {
    flex: 1 1 calc(100% - 16px) !important;
  }
}

.flex-con-sm-24 > div {
  flex: 1 1 calc(33% - 24px) !important;
}
@media (max-width: 960px) {
  .flex-con-sm-24 > div {
    flex: 1 1 calc(50% - 24px) !important;
  }
}
@media (max-width: 720px) {
  .flex-con-sm-24 > div {
    flex: 1 1 calc(100% - 24px) !important;
  }
}

.flex-con-sm-32 > div {
  flex: 1 1 calc(33% - 32px) !important;
}
@media (max-width: 960px) {
  .flex-con-sm-32 > div {
    flex: 1 1 calc(50% - 32px) !important;
  }
}
@media (max-width: 720px) {
  .flex-con-sm-32 > div {
    flex: 1 1 calc(100% - 32px) !important;
  }
}

.flex-con-sm-64 > div {
  flex: 1 1 calc(33% - 64px) !important;
}
@media (max-width: 960px) {
  .flex-con-sm-64 > div {
    flex: 1 1 calc(50% - 64px) !important;
  }
}
@media (max-width: 720px) {
  .flex-con-sm-64 > div {
    flex: 1 1 calc(100% - 64px) !important;
  }
}

/* Medium */
.flex-con-md-0 > div {
  flex: 1 1 calc(50% - 0px) !important;
}
@media (max-width: 960px) {
  .flex-con-md-0 > div {
    flex: 1 1 calc(100% - 0px) !important;
  }
}

.flex-con-md-8 > div {
  flex: 1 1 calc(50% - 8px) !important;
}
@media (max-width: 960px) {
  .flex-con-md-8 > div {
    flex: 1 1 calc(100% - 8px) !important;
  }
}

.flex-con-md-16 > div {
  flex: 1 1 calc(50% - 16px) !important;
}
@media (max-width: 960px) {
  .flex-con-md-16 > div {
    flex: 1 1 calc(100% - 16px) !important;
  }
}

.flex-con-md-24 > div {
  flex: 1 1 calc(50% - 24px) !important;
}
@media (max-width: 960px) {
  .flex-con-md-24 > div {
    flex: 1 1 calc(100% - 24px) !important;
  }
}

.flex-con-md-32 > div {
  flex: 1 1 calc(50% - 32px) !important;
}
@media (max-width: 960px) {
  .flex-con-md-32 > div {
    flex: 1 1 calc(100% - 32px) !important;
  }
}

.flex-con-md-64 > div {
  flex: 1 1 calc(50% - 64px) !important;
}
@media (max-width: 960px) {
  .flex-con-md-64 > div {
    flex: 1 1 calc(100% - 64px) !important;
  }
}

/* ------------ */
/* Large */
.flex-con-lg-0 > div {
  flex: 1 1 calc(100% - 0px) !important;
}

.flex-con-lg-8 > div {
  flex: 1 1 calc(100% - 8px) !important;
}

.flex-con-lg-16 > div {
  flex: 1 1 calc(100% - 16px) !important;
}

.flex-con-lg-24 > div {
  flex: 1 1 calc(100% - 24px) !important;
}

.flex-con-lg-32 > div {
  flex: 1 1 calc(100% - 32px) !important;
}

.flex-con-lg-64 > div {
  flex: 1 1 calc(100% - 64px) !important;
}

/* ------------ */
/* ------------------------------------------- */
.dp-grid {
  display: grid;
}

.grid-about-us-container {
  grid-template-columns: 400px repeat(2, 1fr);
  grid-template-rows: 300px 300px;
  gap: 64px;
  align-items: start;
}
.grid-about-us-container > div:nth-child(1) {
  grid-column: 1/1;
  grid-row: 1/3;
}
.grid-about-us-container > div:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.grid-about-us-container > div:nth-child(3) {
  grid-column: 3/4;
  grid-row: 1/2;
}
.grid-about-us-container > div:nth-child(4) {
  grid-column: 2/4;
  gap: 64px;
  align-items: start;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px;
}
@media all and (max-width: 1100px) {
  .grid-about-us-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
  }
  .grid-about-us-container > div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/1;
  }
  .grid-about-us-container > div:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/2;
  }
  .grid-about-us-container > div:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/2;
  }
  .grid-about-us-container > div:nth-child(4) {
    grid-column: 1/3;
    grid-row: 3/3;
    gap: 64px;
    align-items: start;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}
@media all and (max-width: 600px) {
  .grid-about-us-container > div:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/1;
  }
  .grid-about-us-container > div:nth-child(4) {
    grid-column: 1/3;
    grid-row: 3/3;
    gap: 64px;
    align-items: start;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto auto;
  }
}

.grid-wspolpraca-container {
  grid-template-columns: 0.75fr 300px;
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: start;
}
.grid-wspolpraca-container > div:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/1;
}
.grid-wspolpraca-container > div:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/1;
}
@media all and (max-width: 700px) {
  .grid-wspolpraca-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 64px;
  }
  .grid-wspolpraca-container > div:nth-child(1) {
    grid-column: 1/1;
  }
  .grid-wspolpraca-container > div:nth-child(2) {
    grid-column: 1/1;
    grid-row: 2/3;
    align-items: center !important;
    gap: 64px;
  }
  .grid-wspolpraca-container > div:nth-child(2) div {
    align-items: center !important;
  }
  .grid-wspolpraca-container > div:nth-child(2) div > p {
    text-align: center !important;
  }
}

.grid-categories-page {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.grid-categories-page > div:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid-categories-page > div:nth-child(2) {
  grid-column: 2/4;
  grid-row: 1/2;
}

header {
  padding: 16px 128px;
  height: 100px;
  z-index: 6;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 0 16px 8px rgba(52, 58, 64, 0.0509803922);
  z-index: 4;
}
header nav ul {
  list-style-type: none;
}
header nav li a {
  color: #F8F9FA;
  font-family: "Montserrat", sans-serif;
  padding: 24px 16px;
  font-weight: bold;
  transition: all 0.1s ease-in;
}
header nav li a:hover {
  color: #32B7DC !important;
}
header .hamburger {
  cursor: pointer;
  display: none;
  z-index: 5;
}
header .hamburger input {
  display: none;
}
header .hamburger input:checked + svg {
  transform: rotate(-45deg);
}
header .hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}
header .hamburger svg {
  height: 3em;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
header .hamburger .line {
  fill: none;
  stroke: #343A40;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
header .hamburger .line-top-bottom {
  stroke-dasharray: 12 63;
}
@media all and (min-width: 960px) {
  header .hamburger {
    display: none;
  }
}
@media all and (max-width: 900px) {
  header {
    padding: 16px 32px;
  }
}
@media all and (max-width: 700px) {
  header nav ul {
    background-color: #F8F9FA;
    height: 100vh;
    padding: 100px 16px 64px 16px;
    width: 200px;
    flex-direction: column !important;
    position: absolute;
    gap: 24px !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    top: 0;
    right: 0;
    box-shadow: 0 0 16px 8px rgba(52, 58, 64, 0.0509803922);
  }
  header nav ul a {
    color: #343A40 !important;
  }
  header .hamburger {
    display: block;
  }
}
@media all and (max-width: 640px) {
  header {
    padding: 16px 8px;
  }
}

footer p {
  font-family: "Montserrat", sans-serif !important;
}

section.hero {
  height: 100vh;
  overflow: hidden;
}
section.hero > div {
  z-index: 3;
}
section.hero > div > h1 {
  font-size: 4rem !important;
}

.product-route a, .product-route span {
  font-family: "Montserrat", sans-serif;
}

.product-page-product-card {
  border-bottom: 1px solid rgba(52, 58, 64, 0.0509803922);
}
.product-page-product-card .product-size input {
  opacity: 0;
  position: absolute;
  right: 1000px;
}
.product-page-product-card .product-size > div {
  border-radius: 8px;
  padding: 8px 16px;
  border: 2px solid rgba(52, 58, 64, 0.0509803922);
}
.product-page-product-card .product-size > div > label {
  cursor: pointer;
}
.product-page-product-card .product-size > div:has(input:checked) {
  border: 2px solid #343A40;
}
.product-page-product-card .product-color input {
  opacity: 0;
  position: absolute;
  right: 1000px;
}
.product-page-product-card .product-color > div {
  border-radius: 8px;
  padding: 4px 4px;
  border: 2px solid rgba(52, 58, 64, 0.0509803922);
}
.product-page-product-card .product-color > div > label {
  cursor: pointer;
}
.product-page-product-card .product-color > div:has(input:checked) {
  border: 2px solid #343A40;
}

.testimonial .testimonial-prev, .testimonial .testimonial-next {
  border: 1px solid rgba(52, 58, 64, 0.1019607843);
  padding: 23px 26px 21px 26px;
  border-radius: 24px;
  cursor: pointer;
  background-color: #F8F9FA;
  box-shadow: 0 0 8px 4px rgba(52, 58, 64, 0.0509803922);
  transition: all 0.1s ease-in-out;
}
.testimonial .testimonial-prev:hover, .testimonial .testimonial-next:hover {
  background-color: #343A40;
}
@media all and (max-width: 700px) {
  .testimonial .testimonial-slider {
    justify-content: center !important;
  }
}

form.zapytanie-produktowe label {
  font-family: "Montserrat", sans-serif;
  width: 100%;
}
form.zapytanie-produktowe input, form.zapytanie-produktowe textarea {
  width: 100%;
  border-radius: 16px;
  border: 2px solid rgba(52, 58, 64, 0.0509803922);
  padding: 16px 32px;
  font-size: 1rem;
  width: 100%;
}
form.zapytanie-produktowe input:focus, form.zapytanie-produktowe textarea:focus {
  border: 2px solid #343A40;
}
form.zapytanie-produktowe textarea {
  height: 150px;
}

.alert > p {
  font-size: 2rem;
  color: #28A745;
}

.realisation .realisation-prev, .realisation .realisation-next {
  border: 1px solid rgba(52, 58, 64, 0.1019607843);
  padding: 23px 26px 21px 26px;
  border-radius: 24px;
  cursor: pointer;
  background-color: #F8F9FA;
  box-shadow: 0 0 8px 4px rgba(52, 58, 64, 0.0509803922);
  transition: all 0.1s ease-in-out;
}
.realisation .realisation-prev:hover, .realisation .realisation-next:hover {
  background-color: #343A40;
}

.realisation-card {
  background-color: #F8F9FA;
  border-radius: 16px;
  width: 300px;
  height: 300px;
}

.testimonial-card {
  width: 450px;
  box-shadow: 0 0 16px 8px rgba(52, 58, 64, 0.0509803922);
  border-radius: 16px;
  background-color: #F8F9FA;
  padding: 24px 32px;
}

.product-card {
  border-bottom: 1px solid rgba(52, 58, 64, 0.1019607843);
  padding: 32px 16px;
  transition: all 0.2s ease-in;
  border-radius: 32px;
}
.product-card > div.product-card-image {
  width: 250px;
}
.product-card > div.product-card-image > img {
  width: 100%;
  border-radius: 16px;
}
.product-card > div:nth-child(2) {
  width: calc(100% - 250px);
}
.product-card:last-child {
  border-bottom: none;
}
.product-card:hover {
  box-shadow: 0 0 16px 8px rgba(52, 58, 64, 0.0509803922);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F8F9FA;
  overflow-x: hidden;
}

/*# sourceMappingURL=harescape.css.map */
